<!DOCTYPE html>
<html lang="en">
  <%- include('./partiols/ico.ejs')%>
  <%- include('./partiols/head.ejs')%>
<body>
    <%- include('./partiols/nav.ejs') %>
      <h1>Personal Blog</h1>
      <p>Build with Node.js Express, EJS, MongoDB</p>
    
</body>
</html>