body{
    margin: 0;
    padding: 0;
  background: linear-gradient(90deg, rgb(1, 107, 213), rgb(0, 0, 0));
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

nav{
    transform: translateY(20px);
    width: 90%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 20px;
}

ul{
  width: 60%;
  padding: 10px 5px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

ul > li {
    padding: 8px;
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.7px;
    background-color: rgb(171, 171, 172);
    border-radius: 20px;
    cursor: pointer;
    transition: color 0.7s ease;
    transition: background-color 0.7s ease;
}

ul > li:hover{
    background-color: rgb(132, 132, 132);
    color: aliceblue;

}

ul > li:hover a{
    color: aliceblue;

}

a {
    text-decoration: none;
    color: black;
}


p{
    color: rgb(183, 183, 183);
    font-size: 38px;
}


.contact {
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}


.contact > li {
  width: 80%;
}